@charset "UTF-8";

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d051b;
    padding: 30px;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav > ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-left: 80px;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
    font-weight: bold;
}

nav > ul > li.right {
    float: right;
    margin-right: 80px;
    font-weight: bold;

}

/* Accordion */
.btbt01, .btbt02, .btbt03, .btbt04, .btbt05 {
    background: #0d051b;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    padding: 14px;
    width: 100%;
    margin-top: 100px; 
    border-bottom: 27px solid #fff;
}

.ppp {
    display: none;
    border-bottom: 20px solid #fff;
}

.ppp > h4 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #70000c;
}
